body
    margin: 0
    
#topBackground
    background-image: url("images/20200701_175715.jpg")
    background-position: center center
    height: 60%
    position: relative

#portrait
    background-image: url("images/portraitj.jpg")
    background-position: center center
    background-size: cover
    height: 190px
    width: 190px 
    position: absolute
    bottom: -100px
    left: 0
    right: 0
    margin: auto
    border-radius: 100%
    border: 5px solid #ffffff

header
    text-align: center